/*navs*/
.navs{
	width: 100%;
	height: 100px;
	background-color: #000000;
}
.tops{
	width: 100%;
	height:100%;
	line-height: 100px;
	background-color: #000000;
	position: relative;
}
.tops img{
	float: left;
	margin-top: 29px;
}
.tops img:hover{
	cursor: pointer;
}
.tops ul li{
	line-height: 100px;
	float: left;
	margin-left: 60px;
}
.tops ul li:first-child{
	margin-left: 250px;
}
.tops ul li a{
	text-decoration: none;
	font-size: 12px;
	color: #c8c8c8;
}
.tops ul li a:hover{
	color: #fff;
}
.tops div{
	width: 0px;
	height: 12px;
	margin-top:44px; 
	margin-left: 50px;
	border-right: 1px solid #333333;
	float: left;
}
.tops>a{
	margin-left: 40px;
	text-decoration: none;
}
.tops img:nth-child(4){
	margin-left: 50px;
	margin-top: 35px;
}
.tops a i:hover{
	color: #fff;
}
.tops a i{
	font-size: 24px;
	color: #999999;
	margin-right:5px;
}
.tops span{
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	color: #fff;
	background-color: #969696;
	border-radius: 50%;
	position: absolute;
	font-size: 12px;
	top: 40px;
	right: 0px;
}
/*center*/
.center{
	width: 100%;
	padding-bottom: 40px;
	background-color: #e5e5e5;
}
.center .neinav{
	height: 90px;
	line-height: 90px;
	/*background-color: skyblue;*/
}
.center .neinav li{
	margin-left: 40px;
	float: left;
}
.center .neinav li:first-child{
	margin-left: 10px;
	font-weight: 600;
}
.center .neinav li:nth-child(2) a{
	font-size: 12px;
}
.center .neinav li a{
	text-decoration: none;
	font-size: 14px;
	color: #757575;
}
.center .neinav li:first-child a{
	color: #616161;
}
.center .neinav li:hover a{
	color: #616161;
}
.center .neinav li span{
	width: 1px;
	height: 1px;
	display: inline-block;
	margin-left: 25px;
	margin-right: -10px;
	margin-top: 44px;
	border: 1px solid #c7c7c7;
	background-color: #c7c7c7;
}
.center .lunbo{
	width: 1220px;
	height: 500px;
	border: 1px solid #1b1b1b;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
}
.center .lunbo img{
	width: 100%;
	height: 100%;
}
.center .lunbo li{
	width: 9px;
	height: 9px;
	border-radius:50%; 
	display: inline-block;
	/*border: 1px solid #707070;*/
	background-color: #707070;
	position: absolute;
	top: 440px;
	left:581px; 
}
.center .lunbo ul>li:nth-child(2){
	margin-left: 17px;
}
.center .lunbo ul>li:nth-child(3){
	width: 10px;
	height: 10px;
	border-radius:50%; 
	display: inline-block;
	border: 1px solid #d6d6d6;
	background-color: #d6d6d6;
	position: absolute;
	top: 440px;
	left:615px;
}
.center .yingyong{
	height: 802px;
	margin-top: 10px;
	border: 1px solid #dbdbdb;
	border-radius: 10px;
	background-color: #fff;
}
.center .yingyong .col{
	margin-top: 90px;
}
.center .yingyong li{
	width: 304px;
	height: 401px;
	/*padding-top: 90px;*/
	/*line-height: 401px;*/
	text-align: center;
	float: left;
	position: relative;
}
.center .yingyong li:last-child a img{
	width: 110px;
	height: 110px;
}
.center .yingyong li a{
	text-decoration: none;
	font-size: 10px;
	color: #bdbdbd;
}
.center .yingyong li a p:nth-child(3){
	margin-top: 15px;
}
.center .yingyong li a h3{
	font-size: 14px;
	color: #999999;
}
.center .yingyong li:last-child a h3{
	font-size: 14px;
	color: #757575;
	margin-top: 25px;
}
.center .yingyong li:last-child a p{
	color: #6e95f3;
}
.center .yingyong li:first-child a span:nth-child(5){
	display: inline-block;
	width: 35px;
	height: 14px;
	font-size: 8px;
	line-height: 12px;
	font-weight: 600;
	color: #5174c9;
	border: 1px solid #bfd0f9;
	border-radius: 15px;
	background-color: #dee7fc;
}
/*.center .yingyong li:first-child a span:nth-child(6){
	margin-left: 30px;
}*/
.center .yingyong li a span:nth-child(6){
	display: inline-block;
	width: 1px;
	height: 10px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border-left: 1px solid #eeeeee; 
}
/*.center .yingyong .teshu a img:nth-child(4),*/
.center .yingyong .teshu a img:nth-child(6),
/*.center .yingyong .teshu a span,*/
/*.center .yingyong li:first-child a span,*/
.center .yingyong li:first-child a img:nth-child(7),
.center .yingyong li a img:nth-child(5){
	margin-top: 25px;
}
.center .yingyong .teshu a span:nth-child(5){
	display: inline-block;
	width: 1px;
	height: 10px;
	margin-bottom: 4px;
	margin-left: 5px;
	margin-right: 5px;
	border-left: 1px solid #eeeeee;
}
.center .yingyong .teshu a span,
.center .yingyong .teshu a img:nth-child(4),
.center .yingyong .teshu a img:nth-child(6){
	margin-top: 45px;
}
.center .yingyong li:last-child a p{
	margin-top: 40px;
}
.center .yingyong li:last-child a span{
	padding-left: 3px;
}
.ends{
	width: 100%;
	height: 350px;
	background-color: #fafafa;
}
.ends ul{
	width: 900px;
}
.ends>ul li{
	margin-left: 100px;
	float: left;
}
.ends>ul li:first-child{
	margin-left: 0px;
}
.ends ul li>a{
	text-decoration: none;
	font-size: 12px;
	color: #969696;
}
.ends ul li a p:hover{
	color: #5079d9;
}
.ends ul li>a>p:first-child{
	margin-top: 20px;
}
.ends ul li>a>p:nth-child(2),
.ends ul li>a>p:nth-child(3){
	margin-top: 12px;
}
.ends li h3{
	font-size: 12px;
	color: #646464;
	margin-top: 100px;
}
.ends .right{
	/*height: 350px;*/
	width: 280px;
	display: inline-block;
	float: right;
	margin-top: 100px;
}
.ends .right p:first-child{
	font-size: 26px;
	font-weight: 500;
	color: #646464;
	/*margin-left: 30px;*/
	float: right;
}
.ends .right p:nth-child(2){
	font-size: 12px;
	color: #c3c3c3;
	/*margin-right: 180px;*/
	margin-top: 10px;
	float: right;
}
.ends .right div{
	width: 130px;
	height: 34px;
	/*line-height: 34px;*/
	text-align: center;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	/*margin-left: 75px;*/
	margin-top: 10px;
	float: right;
}
.ends .right div a{
	text-decoration: none;
	font-size: 14px;
	color: #5079d9;
}
.ends .right div>a span{
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	font-size: 8px;
	color: #fff;
	margin-top: 9px;
	margin-right: 5px;
	/*border: 1px solid #5079d9;*/
	border-radius:50%; 
	background-color: #5079d9;
}
.ends .line{
	width: 1220px;
	height: 0px;
	margin: 0px auto;
	/*display: inline-block;*/
	padding-top: 240px;
	border-bottom: 1px solid #e6e6e6;
}
.foots{
	width: 100%;
	height: 120px;
}
.foots .left-foots{
	/*width: 800px;*/
	/*height: 120px;*/
	/*border: 1px solid red;*/
}
.foots .left-foots ul li{
	margin-top: 40px;
	float: left;
}
.foots .left-foots ul li:nth-child(1){
	font-size: 10px;
	color: #757575;
}
.foots .left-foots ul li:nth-child(2){
	font-size: 12px;
	color: #757575;
	margin-left: 2px;
}
.foots .left-foots ul li:nth-child(3) a,
.foots .left-foots ul li:nth-child(4) a,
.foots .left-foots ul li:nth-child(5) a{
	font-size: 12px;
	color: #5079d9;
}
.foots .left-foots ul li:nth-child(3),
.foots .left-foots ul li:nth-child(4),
.foots .left-foots ul li:nth-child(5){
	margin-top: 35px;
}
.foots .left-foots ul li:nth-child(3):hover a,
.foots .left-foots ul li:nth-child(4):hover a,
.foots .left-foots ul li:nth-child(5):hover a{
	color: #434d55;
}
.foots .left-foots ul li:nth-child(3) span,
.foots .left-foots ul li:nth-child(4) span,
.foots .left-foots ul li:nth-child(5) span{
	display: inline-block;
	width: 1px;
	height:13px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: -2px;
	border-right: 1px solid #cccccc;
}
.ends .left-foots p a{
	text-decoration: none;
	font-size: 10px;
	color: #bdbdbd;
	margin-right: 20px;
}
.ends .right-foots{
	margin-top: 20px;
}
.ends .right-foots img{
	margin-right: 75px;
	float: right;
	margin-top: -54px;

}
.ends .right-foots img:hover{
	cursor: pointer;
}
.ends .right-foots a{
	text-decoration: none;
	font-size: 12px;
	color: #45474b;
	float: right;
	margin-top: -55px;
	margin-right: 40px;
}
.ends .right-foots a .sanjiao{
	float: right;
	border-top:4px solid #fff;
	border-right:4px solid #fff; 
	border-bottom:4px solid #45474b; 
	border-left:4px solid #fff;  
	margin-top: -14px;
	margin-right: -30px;
}
/*ends*/
footer{
	width: 100%;
	height: 350px;
	background-color: #fff;
}
.end{
	width: 1218px;
	height: 100%;
	margin:0px auto;
	background-color:#fafafa;
	position: relative;
}
.end .list{
	/*width: 950px;*/
	height: 230px;
	display: inline-block;
	float: left;
}
.end .list ul li:first-child{
	margin-left: 0px;
}
.end .list li{
	float: left;
	margin-left: 100px;
	margin-top: 100px;
}
.end .list li h3{
	font-size: 13px;
	color: #646464;
}
.end .list a{
	font-size: 12px;
	color: #969696;
	text-decoration: none;
}
.end .list a>p:first-child{
	margin-top: 20px;
}
.end .list a>p:hover{
	color: #5079d9;
}
.end .list a>p:nth-child(2),
.end .list a>p:nth-child(3){
	margin-top: 12px;
}
.end .rexian{
	height: 230px;
	display: inline-block;
	float:right;
}
.end .rexian p:first-child{
	padding-top: 100px;
	font-size: 24px;
	color: #646464;
	padding-left: 105px;
}
.end .rexian p:nth-child(2){
	font-size: 12px;
	color: #c3c3c3;
	margin-top: 5px;
	padding-left: 58px;
}
.end .rexian div{
	height:34px;
	line-height: 34px;
	text-align: center;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 135px;
	border: 1px solid #dcdcdc;
	position: relative;
}
.end .rexian div a{
	font-size: 14px;
	color: #5079d9;
	margin-left: 18px;;
	text-decoration: none;
}
.end .rexian div img{
	width: 17px;
	height: 17px;
	position: absolute;
	top: 8px;
	left: 25px;
	/*margin-top: 6px;*/
}
.end .fenline{
	width: 100%;
	height: 0px;
	position: absolute;
	top: 230px;
	left: 0px;
	border-bottom: 1px solid #e6e6e6;
}
.end .foot{
	width: 100%;
	height: 120px;
}
.end .left-foot{
	height: 120px;
	margin-top: 40px;
	display: inline-block;
}
.end .left-foot ul>li{
	float: left;
}
.end .left-foot ul>li:first-child{
	font-size: 10px;
	color: #757575;
}
.end .left-foot ul>li:nth-child(2){
	font-size: 12px;
	color: #757575;
}
/*.end .left-foot ul>li:nth-child(3),
.end .left-foot ul>li:nth-child(4),
.end .left-foot ul>li:nth-child(5){
	margin-top: -5px;
}*/
.end .right-foot{
	height: 120px;
	float: right;
	display: inline-block;
}
.end .left-foot ul>li span{
	height: 12px;
	color: #cccccc;
	margin-left: 10px;
	margin-right: 8px;
}
.end .left-foot ul>li a{
	font-size: 12px;
	color: #5079d9;
	text-decoration: none;
}
.end .left-foot ul>li a:hover{
	color: #434d55;
}
.end .left-foot .two li a{
	text-decoration: none;
	font-size: 11px;
	color: #bdbdbd;
	/*margin-left: 30px;*/
	margin-right: 30px;
	margin-top: 5px;
}
/*.end .left-foot .two li:nth-child(1),
.end .left-foot .two li:nth-child(2){
	margin-top: 6px;
}*/
.end .left-foot .two li:nth-child(3){
	margin-top: 0px;
}
.end .left-foot .two li a:hover{
	color: #bdbdbd;
}
.end .left-foot .two>li:first-child a{
	margin-left: 0px;
}
.end .right-foot {
	position: relative;
	margin-top: 15px;
}
.end .right-foot a img{
	margin-right: 6px;
	margin-bottom: -4px;
}
.end .right-foot a{
	text-decoration: none;
	font-size: 12px;
	color: #46484c;
	margin-right: 30px;
}
.end .right-foot a .sanjiao{
	width: 0px;
	height: 0px;
	display: inline-block;
	border-top:4px solid #fff;
	border-left:4px solid #fff; 
	border-bottom:4px solid #45474b; 
	border-right:4px solid #fff;  
	background-color: #45474b;
	position: absolute;
	top: 6px;
	left: 70px;
}
.two{
	width: 700px;
	height: 20px;
}
.two li{
	float: left;
	margin-right: 20px;
	margin-top: 0px;
	margin-right: 0px;
}
.two li a{
	display: inline-block;
	/*margin: 0 auto;*/
	margin-top: 0px;
	float: left;
}
/*footer*/
