a{
	text-decoration: none;
}
.rightlist{
	position: fixed;
	right: 0px;
	bottom: 0px;
	opacity: 0.7;
}
.top{
	width: 1583px;	
	height: 100px;
	background: #4d131e;
	border-bottom: 2px solid #57202a;
	box-sizing: border-box;
}
.top .nav{
	width: 100%;
	height: 100px;
}
.top .nav0 ul li a:hover{
	color: #d08f97;
}
.top .nav0 ul li:nth-child(2) a{
	color: #d08f97;
}
.top .nav .logo{
	float: left;
	width: 225px;
	height: 48px;
	padding-top: 26px;
	box-sizing: border-box;
}
.top .nav .logo a{
	float: right;
    display: inline-block;
    width: 45px;
    height: 44px;
    background-image: url(../images/25.jpg);
    background-repeat: no-repeat;

}
.top .nav .nav0{
	width: 1060px;
	height: 100px;
	line-height: 100px;
	float: left;
}
.top .nav .nav0 ul{
	width: 100%;
	height: 100%;
	padding-left: 250px;
	box-sizing: border-box;
}
.top .nav ul li{
    height: 100px;
    line-height: 100px;
    text-align: center;
    float: left;
    margin-right: 40px;
    color: #c8c8c8;
}
.top .nav ul li a{
	height: 100px;
	line-height: 100px;
	color: #96626d;

}
.top .use{
    width: 298px;
    height: 100%;
    float: right;
    position:relative;
}
.top .use img{
	position: absolute;
	top: 35px;
}
.top .use .cart{
	width: 50px;
	height: 25px;
	position: relative;
	top: 35px;
	left: 50px;
}
.top .use .cartbox{
	width: 300px;
	height: 300px;
	background: white;
	position: absolute;
	top: 70px;
	left: -195px;
	z-index: 1000;
	box-sizing: border-box;
	padding-top: 140px;
	opacity: 0;
	border-radius: 10px;
/*	overflow: hidden;*/
}
.top .use .cartbox img{
	position: absolute;
	left: 93px;
	top:32px;
}
.top .use .cartbox p{
	text-align: center;
}
.top .use .cartbox .p1{
	color: #ccc;
	font-size: 20px;
}
.top .use .cartbox .scartbox{
	display: block;
	width: 15px;
	height: 15px;
	background: white;
	position: absolute;
	top: -6px;
	left: 250px;
	transform: rotateZ(45deg);
	border-radius: 3px;
	z-index: 1001;
}
.top .use .cart i{
	font-size: 20px;
}
.top .use .cart a{
	text-decoration: none;
	color: #c9c9c9;
}
.top .use span{
	width: 25px;
	height: 25px;
	display: block;
	text-align: center;
	background: #9a9a9a;
	border-radius: 50%;
	position: absolute;
	top: 0px;
	left: 20px;
}
.top .use .cart i:hover a{
	color: white;
}
.ftop{
	width: 100%;
	height: 0px;
	position: fixed;
	background: #4d131e;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 1001;
	/*opacity: 0;*/

}
.ftop .ul1 li:nth-child(1) h2{
	height: 100%;
	line-height: 60px;
	color: grey;
	font-size: 20px;
	margin-right: 100px;
}
.ftop .ul1 {
	float: left;
	width: 600px;
	height: 100%;
	margin-left: 140px;
	box-sizing: border-box;
}
.ftop .ul1 ul li{
	height: 100%;
	line-height: 60px;
	text-align: center;
	padding-top: 0px;
	box-sizing: border-box;
	float: left;
	margin-left:30px;
}
.ftop .ul1 ul li:nth-child(3) a{
	color: grey;
}
.ftop .ul1 ul li a{
	color: #4c4c44;
	font-size: 14px;
}
.ftop .ul1 ul li a:hover{
	color: grey;
}
.ftop .ul2{
	float: right;
	margin-right: 180px;
	width: 400px;
	height: 100%;
	line-height: 60px;
	text-align: center;
	position: relative;
	box-sizing: border-box;

}
.ftop .ul2 li{
	float: left;
	margin-left: 20px;
}
.ftop .ul2 li:nth-child(2) div{
	height: 12px;
	overflow: hidden;
	border: 1px solid #4c4c44;
	position: absolute;
	left: 130px;
	top: 22px;
}
.ftop .ul2 span{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #5079d9;
	border-radius: 3px;
	color: white;
}
.ftop .ul2 span:hover{
	background: #19419b;
	cursor: pointer;
}
.ftop .ul2 a{
	color: #4c4c44;
	font-size: 14px;
	margin-left: 20px;
}
.mid{
	width: 1583px;
	height: 3790px;
}
.mid .nav{
	width: 1583px;
	height: 40px;
	position: relative;
}
.mid .top{
	width: 1583px;
	height: 40px;
	background: #501621;
	border-bottom: 2px solid #57202a;
	box-sizing: border-box;
}
.mid .top ul{
	height: 40px;
	padding-left: 180px;
	box-sizing: border-box;
}
.mid .top ul li{
	height: 40px;
	float: left;
	line-height: 40px;
	margin-right: 30px;
}

.mid .top a{
	color: #96626d;
	font-size: 12px;
}
.mid .top a:hover{
	color: #808080;
}
.mid .top ul li:nth-child(2) a{
	color: #808080;
}
.mid .top .right1{
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
	text-align: center;
	position: absolute;
	right: 180px;
	top: 5px;
}
.mid .top .right1 a{
	display: block;
	border-radius: 4px;
	background: #2049a1;
	color: white;
	width: 100px;
	height: 30px;
}
.mid .top .right1 a:hover {
	background: #1b366d;
}
.mid .top .right0{
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: right;
	position: absolute;
	right: 318px;
	top: 0px;
}
.mid .top .right0 div:nth-child(2){
	color: #808080;
}
.mid .top .right0 div{
	float: left;
	margin-right: 20px;
}
.mid .midd{
	width: 100%;
	height: 3750px;
}
.footer{
	width: 1583px;
	height: 271px;
	margin-top: 40px;
}
.footer .foott{
	width: 100%;
	height: 150px;
}
.footer .foott .foott1{
	width: 1023px;
	height: 150px;
	float: left;
	padding-left: 130px;
	padding-top: 15px;
	box-sizing: border-box;
}
.footer .foott .foott1 dl{
	float: left;
	margin-left: 100px;
}
.footer .foott .foott1 dl dt{
	margin-bottom: 20px;
	color: #646464;
	font-size: 12px;
}
.footer .foott .foott1 dl dd{
	margin-top: 10px;
}
.footer .foott .foott1 dl dd a{
	color: #969696;
	font-size: 12px;
}
.footer .foott .foott1 dl a:hover{
	color: #6992f3;
}
.footer .foott .foott2{
	width: 560px;
	height: 150px;
	float: right;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
	position: relative;
}
.footer .foott .foott2 .p1{
 	font-size: 24px;
 	color: #646464;
}
.footer .foott .foott2 .p2{
	margin-top: 14px;
	margin-bottom: 13px;
	font-size: 12px;
	color: #c3c3c3;
}
.footer .foott .foott2 .p3{
	height: 33px;
	width: 130px;
	border: 1px solid #dcdcdc;
	line-height: 33px;
	text-align: center;
	position: absolute;
	left: 215px;
	top: 85px;
}
.footer .foott .foott2 .p3 a{
	color: #6992f3;
}
.footer .foott .foott2 .p3 span{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #6992f3;
	color: white;
	line-height: 15px;
	text-align: center;
	border-radius: 50%;
}
.footer .footb{
	width: 100%;
	height: 121px;
}
.footer .footb .footb1{
	width: 990px;
	height: 121px;
	float: left;
	padding-left: 60px;
	padding-top: 40px;
	box-sizing: border-box;
}
.footer .footb .footb1 p{
	font-size: 12px;
	margin-bottom: 12px;
	color: #757575;
}
.footer .footb .footb1 p a{
	color: #5079d9;
}
.footer .footb .footb1 .aa1{
	font-size: 12px;
	color:#bdbdbd; 
}
.footer .footb .footb2{
 	width: 445px;
 	height: 121px;
 	float: right;
 	padding-left: 120px;
 	padding-top: 20px;
 	box-sizing: border-box;
}
.footer .footb .footb2 a{
	color: black;
	font-size: 12px;
}
.footer .footb .footb2 p img{
	margin-right: 10px;
}
.footer .footb .footb2 p span{
	display: inline-block;
	width: 0;
    height: 0;
    margin-left: 20px;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    border-left: 5px solid transparent;
}
	
